@font-face {
  font-family: "my-font";
  src: url('../font/scss/Andika-R.ttf'); /* Su dung font Andika cho body*/
}
@font-face {
  font-family: "h-font";
  src: url('../font/scss/Tinos-Italic.ttf'); /* Su dung font Tinos cho the h4*/
}
body{
	font-family: my-font;
}
h4{
	font-family: h-font !important;
}
a{
	text-decoration: none;
}
body{
   height: auto;
   max-width: 1300px;
   margin-left: 38px;
   margin-right: 38px;
   overflow-y:auto;
   overflow-x:auto;
   position: relative;
}
.responsive{
	padding: 5px;
    top: 100px;
    float: left;
    left: 280px;
    height: 100%;
    position: absolute;
    width: 1000px;
    max-width: 1000px;
}
.menu-left{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 1000px;
	width: 240px;
	padding: 5px;
}
.search{
	display: block;
	margin: auto;
	height: 30px;
	width: 238px;
	border: 1px solid #787878;
	border-radius: 2px;
	font-family: Georgia;
	font-size: 15px;
	font-weight: bold;
	color: 	#787878 ;
}
.wrap-search{
	margin-top: 30px;
	position: relative;
	height: 30px;
	width: 240px;
}
.form-control{
	box-shadow:none;
}
.navbar-form
{
	 margin-left: -13px;
    margin-right: -20px;
}
.menu{
	position: relative;
	margin: auto;
	height: auto;
	width: 240px;
	margin-top: 50px;
	background: #8AD385;
}
.img-header img{
	display: block;
	width: 100%;
	height: 100%; 

	
}
#img1 {
	width: 1000px;
	height: 100%;
	top: 0px;
	height: 100px;
	position: absolute;
	
}
#img2 {
	position: absolute;
	width: 1000px;
	height: 100%;
	top: 0px;
	height: 100px;
}
#img3 {
	position: absolute;
	width: 1000px;
	height: 100%;
	top: 0px;
	height: 100px;
}
#img4 {
	position: absolute;
	width: 1000px;
	height: 100%;
	top: 0px;
	height: 100px;
}
#img1 img {
	
	animation: cf4FadeInOut  10s ease  infinite;
	animation-delay:6s;
}
#img2 img {

	animation: cf4FadeInOut 10s  ease  infinite;
	animation-delay:4s;
}
#img3 img {
	animation: cf4FadeInOut  10s ease  infinite;
	animation-delay:2s;

}
#img4 img {
	animation: cf4FadeInOut  10s  ease  infinite;
	animation-delay:0s;

}


.header{
	padding: 5px;
	padding-top: none;
	position: relative;
	left: 280px;
    max-width: 1000px;
	float: left;
}

.footer{
	border-radius: 1px solid #B8B8B8;
	background-color: #777;
	float: left;
	width: 100%;
	height: 50px;
	margin-top: 10px;
	text-align: center;
}
.content{
   margin-top: 10px;
   height: 900px;
   width: 70%;
   float: left;
}
.extra-right{
	margin-top: 10px;
	margin-left: 6px;
	float: left;
	width: 29%;
	height: 900px;
}
.extra-right img{
	margin-bottom: 20px;
	display: block;
	width: 100%;
	height: auto;
	float: left;
}

 ul{
   padding: 0px;
   	background: #8AD385;
   	width: 240px;
   	border-radius: 3px;
   }

   ul li{
        height: 40px;           /*Cao 30px*/
        list-style: none;       /*Không hiển thị dấu chấm đầu menu*/
        padding: 0px 10px;      /*đẩy nôi dung menu vào 10cm (trái + phải)*/    /*màu nèn màu hồng*/ /*đường viền màu đỏ*/
        line-height: 40px;
 	    border-bottom: 1px solid #e8e8e8;    
        position: relative;
        }
    li a{
        text-decoration: none;
        color: #333;
        font-weight: bold;
        }
    ul li ul{
        position: absolute;     
        top: -1px;          /*cho ngang hàng với menu cha, vì menu cha có border - 1 nên ta phải trừ đi 1*/
        right: -240px;      /*vì nàm ngoài khung và dài 250px nên là số âm 250px */
        display: none;      /*Ban đầu sẽ không hiển thị*/
        }

    ul li:hover ul{
        display: block;
            }
    li:hover{
    	background-color: #abc1d6;
    }
    .box{
     width: 100%;
     padding-bottom: 10px;
    }
    .title-box{
     width: 100%;
    height: 38px;
    line-height: 38px;
    }
    .title-box h3{
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 10px;
    color: #ffffff;
    font-size: 12px;
    }
    .main-box{
    margin: 0 10px;
    width: 180px;
    }
@keyframes cf4FadeInOut {
  0% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
    50% {
    opacity:0;
  }
    75% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

