body{
padding-left: 20px;
padding-right: 20px;
padding-bottom: 10px;
padding-top: 20px;
position: absolute; 
}
.div_img
{
float: left;
position: relative;
background: #fff;
margin-left: 15px;
margin-right: 15px;
margin-top: 30px;
margin-bottom: 30px;
border-bottom: 1px solid #ececec;
border-right: 1px solid #ececec;
border-top: 1px solid #ececec;
border-left: 1px solid #ececec;
height: 200px;
width: 16.5%;
padding: 10px 3px 3px 3px;
display:block;
}
a:link {
    color: green;
    text-decoration: none;
}
a:visited {
    color: red;
    text-decoration: none;
}
a:hover {
    color: #288ad6;
    text-decoration: none;
}
a:active {
    color: #ff4c0f;
    text-decoration: none;
}
img{

	height: 140px;
	width: 140px;
	vertical-align: middle;
    display: inline-block;

}
strong:after{

	content: ".000 đ";
}
p{
	text-align: center;
	text-transform: capitalize;
}
.tagicon{
	position: absolute;
    right: 3px;
    left: auto;
    top: 10px;
    bottom: auto;
    padding: 0;
    margin: 0;
    height: 50px;
    width: 70px;
}

